[package]
name = "trane-cli"
version = "0.2.4"
edition = "2021"

[[bin]]
name = "trane"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.58"
chrono = "0.4.19"
clap = { version = "3.2.10", features = ["derive"] }
rustyline = "9.1.2"
termimad = "0.20.2"
trane = "0.2.5"

# Commented out for use in local development.
# trane = { path = "../trane" }
